/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white dark:bg-[#0D0D0D] text-black dark:text-white;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
